# List here the programs required by the project. Specifiying The version
# number (i.e. '=x.y.z') is optional but recommended for reproducibility.

bioconductor-edger =3.32.0
fastqc =0.11.9
gffutils =0.10.1
hisat2 =2.2.1
multiqc =1.9
r-data.table =1.14.0
r-ggplot2 =3.3.3
r-r.utils =2.10.1
r-ggrepel =0.9.1
r-gplots =3.1.1
r-tidyr =1.1.3
r-ggbeeswarm =0.6.0
r-stringr =1.4.0
r-dplyr =1.0.7
r-lme4 =1.1-27.1
r-emmeans =1.6.2-1
r-pbkrtest =0.5.1
r-lmerTest =3.1.3
samtools =1.11
snakemake =6.0.0
subread =2.0.1
igv =2.9.2
bioconductor-sva =3.38.0
bioconductor-gviz =1.34.1
bioconductor-topgo =2.42.0
deeptools =3.5.1
bedtools =2.30.0
